# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
#build and run
npm run dev || npm run server
npm install firebase --force or --legacy-peer-deps
npm install next-auth --force or --legacy-peer-deps
npm add mongoose next-auth bcrypt zod @tanstack/react-query cloudinary react-hook-form next-themes @types/bcrypt
npm i @pinecone-database/pinecone openai

5 dấu hiệu cờ dỏ
– Không bi bô, không biết dùng cử chỉ, dấu vào khoảng 12 tháng.

– Không biết nói từ đơn khi 16 tháng.

– Không biết đáp lại khi được gọi tên.

– Không tự nói được câu có hai từ khi 24 tháng.

– Mất kỹ năng ngôn ngữ hoặc xã hội ở bất kỳ độ tuổi nào.
15 CARS
20 tiêu chí M=CHÁTS
- Quan hệ với mọi người: tiêu chí I.
- Khả năng bắt chước: tiêu chí II.
- Th hiện tình cảm: tiêu chí III.
- Các động tác c th : tiêu chí IV.
- Sử dụng đồ vật: tiêu chí V.
- Khả năng th ch ứng với sự thay đổi: tiêu chí VI.
- Khả năng phản ứng bằng thị giác: tiêu chí VII.
- Khả năng phản ứng bằng thính giác: tiêu chí VIII.
- Khả năng phản ứng bằng vị, khứu và xúc giác: tiêu chí IX.
- Sự sợ hãi và hồi hộp: tiêu chí X.
- Giao tiếp bằng lời: tiêu chí XI.
- Giao tiếp không lời: tiêu chí XII.
- Mức độ ho t động: tiêu chí XIII.
- Mức độ nhất quán của phản x thông minh: tiêu chí XIV.
- Ấn tượng chung về mức độ rối lo n phổ tự k : tiêu chí XV
15 tiêu chí trong các triệu chứng của thang đi m CARS là các biến
số liên tục (sử dụng mức đi m đã đánh giá trong thang đi m CARS: 1; 1,5; 2; 2,5;
3; 3,5 và 4).


DSM-5 triệu chứng lâm sàn
- Khiếm khuyết về cảm x c trong tư ng tác xã hội: tiêu chí 1 mục A (Có 04
giá trị).
- Khiếm khuyết hành vi giao tiếp không lời trong tư ng tác xã hội: tiêu chí 2
mục A (Có 04 giá trị).
- Khiếm khuyết trong phát tri n duy trì và hi u các mối quan hệ: tiêu chí 3
mục A (Có 04 giá trị).
- Tính rập khuôn về lời nói hoặc ho t động: tiêu chí 1 mục B (Có 04 giá trị).
- Tính cứng nhắc, không chịu giảm trong các ho t động: tiêu chí 2 mục B (Có
04 giá trị).
- T nh bám d nh, quan tâm quá đáng vào các đồ vật hoặc các ho t động: tiêu
chí 3 mục B (Có 04 giá trị).
- Tăng hoặc giảm cảm giác, hoặc ham thích bất thường các kích thích cảm
giác môi trường: tiêu chí 4 mục B (Có 04 giá trị).
Ghi chú: 04 giá trị của các khiếm khuyết trên được phân thành 04 mức:
+ Không: Không đáp ứng tiêu chí.
+ Đòi hỏi có sự hỗ trợ: Đáp ứng tiêu ch và được đánh giá ở mức độ 1 của
―Bảng 1 4 mức độ nghiêm trọng của RLPTK‖
+ Đòi hỏi có sự hỗ trợ đáng : Đáp ứng tiêu ch và được đánh giá ở mức độ
2 của ―Bảng 1 4 mức độ nghiêm trọng của RLPTK‖
+ Đòi hỏi có sự hỗ trợ tối đa: Đáp ứng tiêu ch và được đánh giá ở mức độ 3
của ―Bảng 1 4 mức độ nghiêm trọng của RLPTK‖ 